header, .MuiDrawer-root, .MuiTablePagination-root {
  display: none!important;
}
.RaLayout-appFrame-2{
  margin-top: 0!important;
}
.ControlForm{
  min-height: 70vh;
}
.ControlFormInput input{
  padding: 5px 5px 5px 25px;
  margin: 5px;
}
.ControlFormInput svg{
  position: relative;
  right: -25px;
  top: 2px;
}
input[id$=downshift-input]{
 display: none; 
}
.search-icon{
  display: none;
}
.row > div > div {
  margin-top: -3em;
}
.ControlForm .MuiButton-label {
  margin-left: 125px;
  margin-top: -15px;
}
.row {
  margin-bottom: 15em;
}
.ControlForm ul{
  max-height: 16em;
  top: -1em;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  padding-top: 2px;
}
.ControlForm li {
  display: flex;
  cursor: pointer;
  padding: 10px;
  user-select: none;
}
.ControlForm li:hover {
  background-color: rgb(238, 238, 238);
}
.cell .MuiButtonBase-root {
  visibility: hidden;
  top: -2em;
}
.cell:hover .MuiButtonBase-root {
  visibility: visible;
}
.cell {
  float:left;
  width: 20em;
  height: 18em;
  padding: 5px;
}
.suggest{
  max-height: 14em;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: -1em;
  padding: 0px;
}
.suggest-legend{
  margin-top: -1em;
  padding: 0px;
  font-size: x-small;
  margin-right: -100%;
  width: 100%;

}
.MuiCardContent-root{
  display: none;
}