header, .MuiDrawer-root, .MuiTablePagination-root {
  display: none!important;
}
.RaLayout-appFrame-2{
  margin-top: 0!important;
}
.ControlForm{
  min-height: 70vh;
}
.ControlFormInput input{
  padding: 5px 5px 5px 25px;
  margin: 5px;
}
.ControlFormInput svg{
  position: relative;
  right: -25px;
  top: 2px;
}
input[id$=downshift-input]{
 display: none; 
}
.search-icon{
  display: none;
}
.row > div > div {
  margin-top: -3em;
}
.ControlForm .MuiButton-label {
  margin-left: 125px;
  margin-top: -15px;
}
.row {
  margin-bottom: 15em;
}
.ControlForm ul{
  max-height: 16em;
}