html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* vercel icon */
footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    margin-left: 0.5rem;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

footer img {
    height: 1em;
}

/* toggle search */
.ControlForm .ControlableForm input, .ControlForm .ControlableForm svg.search-icon {
    display: none!important;
}
.ControlForm.active .ControlableForm input, .ControlForm.active .ControlableForm svg.search-icon {
    display: block!important;
}

/* toogle search cell */
.cell{
    display: none;
    float: left;
    height: 19em;
    width: 15em;
    padding: 1px;
}

.cell.active{
    display: block;
}
.ControlForm.active .cell{
    display: block;
}

/* hide pager at footer */
.MuiTablePagination-root {
    display: none;
}

/* space between floating button */
@media screen and (max-width: 960px) {
    a.RaEditButton{
        bottom: 120px;
    }
    a.RaSearchButton{
        bottom: 180px;
    }
    .MuiToolbar-regular, .MuiToolbar-root{
        min-height: 0!important;
    }
    .cell{
        height: auto;
    }
}

/* each top dash */
.dash {
    padding: 1em;
    width: 35px;
    display: inline-block;
    overflow: hidden;
}

/* Suggestion ul/li item */
.ControlForm .suggest {
    max-height: 15em;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}
.ControlForm .suggest li{
    padding: 4px;
}

.ControlForm .suggest::-webkit-scrollbar {
    display: none;
}
.ControlForm .suggest
.ControlForm li {
    cursor: pointer;
    padding: 10px;
}
.ControlForm li:hover {
    background-color: rgb(238, 238, 238);
}

/* center main input search */
.ControlFormInput{
    margin: auto;
    text-align: center;
    padding: 2em;
}
.ControlFormInput input {
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    padding: 4px;
    width: 20em;
    height: 2em;
    font-size: 1em;
}

/* More space for floating button */
.floatingButton {
    padding: 1.5em!important;
}

/* Loader */
.MainLoader{
    position:absolute;
    margin: auto;
    width: 80%;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.RaLayout-root-1, .jss1 {
    display: block!important;
    min-height:auto!important;
}
.RaLayout-appFrame-2, .jss2{
    margin: 0!important;
}
.RaToolbar-mobileToolbar-32, .jss32 {
    position: relative!important;
}

.hidden-tab {
    display: none!important;
}
.simple-form h2{
    border-bottom: 1px solid black;
}

.simple-form pre{
    overflow-x: scroll;
    max-width: 100vh;
}